*{
  font-family: 'Dancing Script', cursive;
}

/* ************************  CARRUCEL ************************* */
.carrucel-home{
  font-family: 'Dancing Script', cursive;
}
.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}  


/* ***************************************************************** */
  .fabs {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
  }
  
  .action {
    background: rgb(255, 0, 128);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 7px 0px gray;
    transition: background-color 0.4s ease-in-out;
    z-index: 1;
  }
  
  .action i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .action:hover {
    background-color: rgb(255, 103, 179);
    z-index: 1;
  }
  
  .btn {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .btn i {
    position: absolute;
    font-size: 18px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .btns {
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    /* transition: 0.9s ; */
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;   
  }
  .btns.open {
    bottom: 50px;
    z-index: 1;
  }
  

  /* ****************************************************************** */

#p-description{
  font-size: 15px;
}